.row
  .col-lg-12
    h1 
      = it ('navbar.teams')
.row
  - @teams.each do |team|
    .col-sm-6.col-md-3
      = link_to team_path(team), class: "text-decoration-none" do
        .thumbnail
          = image_tag(team.avatar, class: "img-responsive")
          .caption
            h3
              = team.team_name
              |  
              small= team.team_city
            p
              h4 
                = team.team_conference
                |  
                small 
                  = it ('teams.conference')
              h4 
                = team.team_division
                |  
                small 
                  = it ('teams.division')
