.row
	.col-lg-12
		.clearfix
			.pull-right	
				= image_tag(@team.avatar, class: 'img-responsive')
			h1
				= @team.full_team_name

.row
	.col-lg-12
		h2.text-center 
			= it 'teams.team'
		- @team_players.each do |player|
			= render 'shared/player', player: player
			
