.row
  .col-lg-6.col-lg-offset-3.white-bg.form-user

    .page-header
      h1.text-center 
        = it 'register.edit'

    = form_for(resource, as: resource_name, url: registration_path(resource_name),
    html: {method: :put, class: 'form-horizontal'}) do |f|

      = render 'shared/error_messages', object: resource

      .form-group
        = f.label :username, class: "control-label col-md-4"
        .col-md-8
          = f.text_field :username, class: "text-field form-control", required: true

      .form-group
        = f.label :email, class: 'control-label col-md-4'
        .col-md-8
          = f.email_field :email, class: 'text-field form-control', required: true

      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        div
          = it('register.waiting', email: resource.unconfirmed_email)

      .form-group
        = f.label :password, class: 'control-label col-md-4'
        .col-md-8
          = f.password_field :password, class: 'text-field form-control', autocomplete: "off"
          span.help-block
            = it 'register.leave_blank'

      .form-group
        = f.label :password_confirmation, class: 'control-label col-md-4'
        .col-md-8
          = f.password_field :password_confirmation, autocomplete: "off",class: 'text-field form-control'

      .form-group
        = f.label :current_password, class: 'control-label col-md-4'
        .col-md-8
          = f.password_field :current_password, autocomplete: "off", class: 'text-field form-control', required: true
          span.help-block
            = it 'register.needed'

      .form-group
        .col-md-offset-4.col-md-8
          = f.submit it('pass.send'), class: "btn btn-primary"

    .col-lg-12
      br
      h3 
        = it 'register.delete'
      p
        = it 'register.not_happy'
        = button_to destroy_user_path, data: {confirm: t("shared.u_sure")}, method: :delete, class: 'btn btn-danger' do
          = glyph :trash
          |  
          = it 'register.delete'