.row
  .col-lg-6.col-lg-offset-3.white-bg.form-user
    .page-header
      h1.text-center= it(".title")
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal"}) do |f|
      = render 'shared/error_messages', object: resource
      .form-group
        = f.label :username, class: "control-label col-md-4"
        .col-md-8
          = f.text_field :username, class: "text-field form-control", spellcheck: "false", required: true
      .form-group
        = f.label :email, class: "control-label col-md-4"
        .col-md-8
          = f.email_field :email, class: "text-field form-control", spellcheck: "false", required: true
      .form-group
        = f.label :password, class: "control-label col-md-4"
        .col-md-8
          = f.password_field :password, class: "text-field form-control", autocomplete: "off", required: true,
          pattern: '.{8,}', title: it('register.min_char')
      .form-group
        = f.label :password_confirmation, class: "control-label col-md-4"
        .col-md-8
          = f.password_field :password_confirmation, class: "text-field form-control", autocomplete: "off",
          required: true, pattern: '.{8,}', title: it('register.min_char')
      .form-group
        .col-md-offset-4.col-md-8
          = f.submit it('pass.send'), class: "btn btn-primary"
      .form-group
        .col-md-offset-4.col-md-8
          = render "devise/shared/links"