.landing#main-div
  .container.text-center
    h1 
      = it('landing.main_title')
    p.lead 
      = it('landing.intro')
    p.lead
      = link_to it('landing.signup'), new_user_registration_path, class: 'btn btn-lg btn-default'

.jumbotron style=("background-color: #F8F8F8")
  .container
    .row.text-justify
      .col-lg-4.col-md-4.col-sm-6
        .glyph-big.text-center
          = glyph :usd
        p
          = it('landing.tips.budget')
      .col-lg-4.col-md-4.col-sm-6
        .glyph-big.text-center
          = glyph :stats
        p
          = it('landing.tips.points')
        p
          strong
            = it('landing.tips.points_strong')
          = it('landing.tips.points_formula')

      .col-lg-4.col-md-4.col-sm-6
        .glyph-big.text-center
          = glyph :calendar
        p
          = it('landing.tips.calendar', b: It.tag(:b))
