footer
  .container
    .row
      .col-md-3
        = select_tag 'language_select',
                     language_options,
                     onchange: "window.open(this.options[this.selectedIndex].value,'_top')",
                     class: 'form-control'
    .row
      p.text-center
        | Copyright ©
        = it('landing.main_title')
        '
        = Date.current.year
