nav.navbar.navbar-default role="navigation" 
  /! Brand and toggle get grouped for better mobile display
  .navbar-header
    button.navbar-toggle data-target="#navbar-collapse-1" data-toggle="collapse" type="button" 
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    = link_to image_tag('encestado.png', height: '100%'), defined?(root_path) ? root_path : "#", class: "navbar-brand"
  
  /! Collect the nav links, forms, and other content for toggling
  #navbar-collapse-1.collapse.navbar-collapse
    ul.nav.navbar-nav
    ul.nav.navbar-nav.navbar-right
      li= link_to users_path do
        => glyph :stats
        = it 'navbar.ranking'
      li= link_to it('navbar.teams'), teams_path
      li= link_to it('navbar.players'), players_path
      li= link_to it('navbar.my_team'), user_players_path if user_signed_in?
      - if defined?(Devise)
        - if user_signed_in?
          li= link_to it('navbar.roster'), user_lineups_path
          li.dropdown
            a.dropdown-toggle data-toggle="dropdown" href="#" 
              = it('navbar.account')
              b.caret
            ul.dropdown-menu
              li= link_to it('navbar.edit_ac'), edit_user_registration_path
              li.divider
              li= link_to it('navbar.signout'), destroy_user_session_path, method: :delete
        - else
          li= link_to it('navbar.login'), new_user_session_path
          li= link_to it('navbar.signup'), new_user_registration_path
      li
        #search.search-open style="display:none;"
          form.navbar-form role="search" 
            .input-group
              input#srch-term.form-control.typeahead name="srch-term" placeholder=(it('navbar.search')) type="text" 
      li.hidden-sm.hidden-xs
        a.search
          span.glyphicon.glyphicon-search.search-btn
