h1= t(:user_lineup) 

.row
  - unless @weeks.nil?
    - @weeks.each do |da_week|
      .col-md-3
        .thumbnail
          .caption
            h2.text-center
              = number_with_precision(current_user.points_in_week(da_week), precision: 2)
              |  pts
            h4
              = it('ranking.week_with_id', id: da_week.id)
              | : 
              small= da_week.start_date.strftime("#{da_week.start_date.day.ordinalize} %B, %Y")
            = link_to it('shared.see'), user_lineup_path(da_week), class: 'btn btn-primary', style: 'width: 100%'

