p#notice = notice


h1 
  = it('user.current_team')
  =@week.id 
h4 style="color: gray"
  = it('shared.from_date')
  = @week.start_date
  = it('shared.to_date')
  = @week.end_date

.row 
  - @user_players.each do |user_player|
    .col-sm-6.col-md-3
      .thumbnail
        = render 'shared/player_image', player: user_player.player
        .caption
          h3= user_player.player.name
          h4
            = number_with_precision(user_player.player.points_in_week(@week), precision: 2)
            |  pts
          p
            = link_to '+Info', player_path(user_player.player), class: 'btn btn-info'