.row
	.col-xs-12.col-md-9
		h1 
			| Ranking
			|  
			- unless @week.nil?
				= it('ranking.current_week', week:@week.id)
	.col-xs-12.col-md-3
		= collection_select(:week, :id, Week.all, :id, :week_with_id, 
		{ prompt: it('ranking.select'), 
			include_blank: 'Total' }, {id: 'week_select', class: 'form-control'})

.row
	- @users.to_a.shift(3).each_with_index do |user, position|
		.col-sm-4.col-md-4
			.thumbnail
				.row
					.col-md-6
						= image_tag (position + 1).ordinalize + '.png', :align=> "middle", class: 'center-block'
						span.trophy-text= (position + 1).ordinalize
					.col-md-6
						h3= user[:username]
						h1
							= number_with_precision(user[:points], precision: 0)
							small pts
							- if user.difference != 0 && user.difference != user.points
								- if user.difference > 0
									|  
									span.label.label-success[style="font-size: 13px"]
										| +
										= number_with_precision(user.difference, precision: 2)
								- else
									|  
									span.label.label-danger[style="font-size: 13px"]
										|
										= number_with_precision(user.difference, precision: 2)
							- else
								| &nbsp;
								span.label.label-default[style="font-size: 13px"] 0.00

.row
	.col-md-12[style="background: white"]
		table.table
			thead
				tr
					th[width='10%'] 
						= it 'ranking.position'
					th 
						= it 'ranking.user'
					th[width='10%'] 
						= it 'ranking.points'
					th[width='15%'] 
						= it 'ranking.difference'
			tbody
				- @users.each_with_index do |user, position|
					tr
						td= (position + 4).ordinalize
						td
							= user.username
							- if current_user != nil && user.username == current_user.username
								|   
								span.label.label-success 
									= it('user.your_user')
						td
							= number_with_precision(user.points, precision: 0)
						td[align="center"]
							- if user.difference != 0 && user.difference != user.points
								- if user.difference > 0
									|  
									span.label.label-success[style="font-size: 13px"]
										| +
										= number_with_precision(user.difference, precision: 2)
								- else
									|  
									span.label.label-danger[style="font-size: 13px"]
										|
										= number_with_precision(user.difference, precision: 2)
							- else
							 span.label.label-default[style="font-size: 13px"] 0.00