.row
  .col-lg-6.col-lg-offset-3.white-bg.form-user
    .page-header
      h1.text-center 
        = it 'pass.change'

    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| 
      
      = render 'shared/error_messages', object: resource

      = f.hidden_field :reset_password_token
      
      .form-group
        = f.label :password, it("pass.new"), class: 'control-label col-md-4'
        .col-md-8
          = f.password_field :password, autofocus: true, autocomplete: "off", required: true, class: 'form-control'
      
      .form-group
        = f.label :password_confirmation, it("pass.confirm"), class: 'control-label col-md-4'
        .col-md-8
          = f.password_field :password_confirmation, autocomplete: "off", required: true, class: 'form-control'
      
      .form-group
        .col-md-offset-4.col-md-8
          = f.submit it('pass.change'), class: 'btn-primary btn'

      .form-group
        .col-md-offset-4.col-md-8
          = render "devise/shared/links"
