.row
  .col-lg-6.col-lg-offset-3.white-bg.form-user
    .page-header
      h1.text-center 
        = it('pass.forgot')
    = form_for(resource, as: resource_name, url: password_path(resource_name), 
    html: { method: :post, class: 'form-horizontal' }) do |f|
      
      = render 'shared/error_messages', object: resource
      
      .form-group
        = f.label :email, class: 'control-label col-md-4'
        .col-md-8
          = f.email_field :email, autofocus: true, spellcheck: 'false', required: true, class: 'form-control'
          span.help-block
            = it 'pass.instructions'
      
      .form-group
        .col-md-offset-4.col-md-8
          = f.submit it('pass.send'), class: "btn btn-primary"

      .form-group
        .col-md-offset-4.col-md-8
          = render "devise/shared/links"
