.col-sm-6.col-md-3
  .thumbnail
  	= render 'shared/player_image', player: player
    .caption
      h3= player.display_first_last
      p 
        = number_to_currency(player.salary, precision: 0)
      p
        = link_to '+Info', player_path(player), class: 'btn btn-info'