.row
  .col-lg-6.col-lg-offset-3.white-bg.form-user
    .page-header
      h1.text-center= 'Login'
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f|
      .form-group
        = f.label :login, it('register.input_user'), class: "control-label col-md-4"
        .col-md-8
          = f.text_field :login, class: "text-field form-control", spellcheck: "false", required: true
      .form-group
        = f.label :password, it('register.pass'), class: "control-label col-md-4"
        .col-md-8
          = f.password_field :password, class: "text-field form-control", autocomplete: "off", required: true
      - if devise_mapping.rememberable?
        .form-group
          = f.label :remember_me, it("register.remember_me"), class: "control-label col-md-4"
          .col-md-8
            = f.check_box :remember_me
      .form-group
        .col-md-offset-4.col-md-8
          = f.submit "Login", class: "btn btn-primary"
      .form-group
        .col-md-offset-4.col-md-8
          = render "devise/shared/links"