-if user_signed_in? 
  .col-xs-12.col-sm-6 
  	-if current_user.player_in_team?(@player)
			= link_to t('players.sell'), 
        user_player_path(UserPlayer.where(player_id: @player.id, user_id: current_user.id).first.id),
        class: 'delete-player btn btn-danger btn-lg margin-top-5-xs margin-bottom-5-xs center-block-xs pull-lg-right pull-sm-right pull-md-right', 
        method: :delete, 
        data: { confirm: It.it('shared.u_sure') }
  	-elsif !current_user.team_complete?
	    = form_for(UserPlayer.new) do |f|
	      = f.hidden_field 'player_id', value: @player.id 
	      = f.submit It.it('user.buy_player'), 
	      class: 'btn btn-primary btn-lg margin-top-5-xs margin-bottom-5-xs center-block-xs pull-lg-right pull-sm-right pull-md-right '