.row ng-controller="PlayerController"
  .col-md-12 
    .row
      .col-lg-12
        h1 
          = it 'players.title' 
          small.pull-right
            = it 'players.filter' 
            input type="text" ng-model="filterText" ng-change="filter()"/
    .row ng-hide="players"
      .col-md-12 
        h4.text-center 
          = it 'players.loading'
    .row ng-show="players"
      .col-md-12
        table.table.table-striped
          thead
            tr
              th 
                = it 'players.player'
              th 
                = it 'players.salary'
              th 
          tbody
            tr ng-repeat="p in filtered = (players | filter:filterText) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit"
              td ng-bind="p.name"
              td
                p ng-bind="( p.salary || 0 ) | currency : '$' : 0"
              td
                a href="{{ p.url }}" class="btn btn-info" +Info
    .row
      .col-md-12
        pagination total-items="filtered.length" items-per-page="entryLimit" ng-model="currentPage" ng-change="pageChanged()"