p#notice= notice
.row
  .col-md-3
    .thumbnail#player-image
      = render 'shared/player_image', player: @player  
  .col-md-9
    .row
      .col-xs-12.col-sm-6
        h1
          = @player.name
          small<
            span.label class=(@player.is_active? ? 'label-success' : 'label-warning')
              = @player.is_active? ? 'Active Player' : 'Not Active'
      = render 'add_or_free_player_btn'
    .row
      .col-md-6
        p
          h3
            = @player.from_year
            small< PLAYER DEBUT
          h3
            = @player.to_year
            small< LAST ACTIVE SEASON

      .col-md-6
        h2 Stats

        h3 
          = @player.zero_or_stat(:pts)
          small= ' PPG'
        
        h3 
          = @player.zero_or_stat(:reb)
          small= ' REB'

        h3 
          = @player.zero_or_stat(:ast)
          small= ' AST'

.row
  .col-sm-9.col-md-offset-3
    h3
      = glyph :stats
      |  &nbsp;
      = t(:progress_label)
    table.table
      thead
        tr
          th 
            = it 'shared.points'
          th 
            = it 'shared.week'
      tbody
      - unless @ef_points.nil?
        - @ef_points.each do |ef_point|
          tr
            td= number_to_human(ef_point.points)
            td= ef_point.week.start_date.to_formatted_s(:long)

.row
  .col-sm-9.col-md-offset-3
    h3
      = it 'shared.ppg'
    table.table
      thead
        tr
          th 
            = it 'shared.points'
          th 
            = it 'shared.game_date'
      tbody
      - unless @game_logs.nil?
        - @game_logs.each do |game_log|
          tr
            td= number_to_human(game_log.encestado_points)
            td= game_log.game_date.to_formatted_s(:long)
