.col-lg-12
  table.dataTable.table
    thead
      tr
        th.col-lg-4 
          = it 'players.player'
        th.col-lg-4 
          = it 'user.team'
        th.col-lg-4 
          = it 'players.price'
    tbody
      - @players_available.each do |player|
        tr 
          td= link_to player.display_first_last, player
          td= player.team.full_team_name
          td
            = form_for(@user_player, html: { class: 'form-horizontal' }) do |f|
              = number_to_currency(player.salary, precision: 0)
              = f.hidden_field 'player_id', value: player.id 
              .pull-right
                = f.submit it('user.buy_player'), class: 'btn btn-primary'
