.row
  .col-lg-12
    .bs-callout.bs-callout-info
      h4
        = it("user.flash_title", week: Week.last_week_id)
      p 
        = it("user.flash_message", b: It.tag(:b))

.row
  .col-xs-12.col-sm-6
    h1
      = it 'user.team'
      |  
      small
        = @user_players.count
        = '/8'
        = ' '
        = number_to_currency(current_user.budget_spent, precision: 0)
        = '/'
        = number_to_currency(UserPlayer::BUDGET, precision: 0)
  -unless current_user.team_complete?
    .col-xs-12.col-sm-6
      = link_to t('user.buy_player'), new_user_player_path, class: 'btn btn-primary btn-lg margin-top-5-xs margin-bottom-5-xs center-block-xs pull-lg-right pull-sm-right pull-md-right'

.row 
  - @user_players.each do |user_player|
    .col-sm-6.col-md-3
      .thumbnail
        = render 'shared/player_image', player: user_player.player
        .caption
          h3= user_player.player.name
          p 
            = number_to_currency(user_player.player.salary, precision: 0)
          p 
            - user_player.player.last_five_games.each do |points|
              span.badge
                = points
          p
            = link_to '+Info', player_path(user_player.player), class: 'btn btn-info'
            = ' '
            = link_to t('players.sell'), 
            user_player_path(user_player.id),
            class: 'delete-player btn btn-danger', 
            method: :delete, 
            data: { confirm: It.it('shared.u_sure') }


