= render 'shared/error_messages', object: @user_player
h1
  = it 'user.buy_player'
  br
  small
    = it 'user.budget_left'
    = number_to_currency(current_user.budget_left, precison: 0)
= render 'form'


