/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require dataTables/jquery.dataTables
*= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
*= require dataTables/extras/dataTables.responsive
*= require nprogress
*= require nprogress-bootstrap
*= require_tree .
*/
@import "bootstrap-sprockets";
@import "bootstrap_configuration";
@import "bootstrap";
@import "colors";
@import "bs_callouts";

//->Prelang (ui_framework:twitter_bootstrap)

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

// Give everything in 'yield' margin to separate it.
.yield {
  margin: 30px;
}

// Constrain forms for models (scaffolded models) so they aren't full page width.
.form-model {
  max-width: 750px;
}

//->Prelang (user_login:devise)
.form-user {
  border: 1px solid #DEDEF7;
  border-radius: 15px;
}

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.thumbnail {
  background: white;
}

.relative {
  position: relative;
}

.trophy-text {
  color: #333;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -10px;
  font-weight: bold;
  text-shadow: 0px 1px 1px white;
}

.text-decoration-none {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

@media (max-width: $screen-xs-max) {
  .pull-xs-left {
    float: left;
  }
  .pull-xs-right {
    float: right;
  }

  .center-block-xs {
    @include center-block();
  }

  .margin-top-5-xs {
    margin-top: 5%;
  }

  .margin-bottom-5-xs {
    margin-bottom: 5%;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .pull-sm-left {
    float: left;
  }
  .pull-sm-right {
    float: right;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .pull-md-left {
    float: left;
  }
  .pull-md-right {
    float: right;
  }
}

@media (min-width: $screen-lg-min) {
  .pull-lg-left {
    float: left;
  }
  .pull-lg-right {
    float: right;
  }
}



html,body{
  height: 100%;
}

#wrap{
  min-height: 100%;
  padding-bottom: 120px;
}

footer {
  padding: 25px 0;
  background-color: #1B1F23;
  color: #E4E4E4;
}

.landing {
  color: #FFF;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  background-color: #333;
  padding: 90px 0 170px;
  margin-top: -20px;
}

.btn-default {
  color: #333;
  text-shadow: none;
  background-color: #FFF;
  border: 1px solid #FFF;
}

.glyph-big{
  font-size: 5em;
}

.cookies {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: rgba(0,0,0,0.9);
  color: #ccc;
  padding: 10px 10px;
  z-index: 999;
}

.navbar {
  padding: 0 20px;
}
