/*Serach Box*/
.header .navbar .search-open {
	right: 0; 
	top: 50px; 
	display: none;
	padding: 14px; 
	position: absolute;
	background: #fcfcfc; 
	border-top: solid 2px #eee;
	box-shadow: 0 1px 3px #ddd; 
}

.header .navbar .nav > li > a.search {
	color: #aaa;
	cursor: pointer;
	padding: 8px 8px 10px;
	border-bottom-color: #aaa;
	background: #f7f7f7 !important;
}

.header .navbar .nav > li > a.search:hover {
	color: #72c02c;
	border-bottom-color: #72c02c;
}

.header .navbar .search-open form {
	margin: 0;	
}

.header .navbar a.search [class^="glyphicon-"],
.header .navbar a.search [class*=" glyphicon-"] {
  width: 1.25em;
  text-align: center;
  display: inline-block;
}

.header .navbar a.search [class^="glyphicon-"].icon-large,
.header .navbar a.search [class*=" glyphicon-"].icon-large {
  /* increased font size for icon-large */
  width: 1.5625em;
}

/*Responsive @Media 
------------------------------------*/
@media (min-width: 767px) {
	/*Search Box*/
	.header .navbar .search-open {
		width: 330px;
	}	
}

@media (max-width: 767px) {
	/*Search Box*/
	.header .navbar .search-open {
		left: 20px; 
		top: inherit;
		bottom: -5px; 
		padding: 15px;
		border-top: none;
		box-shadow: none;
		background: none; 
	}	
}