<p>it('email.reset_pass_instructions, email: @resource.email ')</p>

<p>Se ha recibido una petición para cambiar tu contraseña. Accede al link siguiente para realizar el cambio.</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has realizado esta petición, por favor ignora este email.</p>
