doctype html
html lang='es'
  head
    title Encestado
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    meta content="width=device-width, initial-scale=1" name="viewport" /
  body
    = render partial: "elements/navbar"
    = bootstrap_flash
    
    #wrap
      .container
        = yield
    
    = render partial: "elements/footer"
    = render partial: "elements/cookies"
    = render partial: "layouts/ga" if Rails.env.production?

    - if Rails.env.development?
      .container
        = debug(params) if Rails.env.development?
        = Time.zone.now.to_s if Rails.env.development?
