doctype html
html lang='es'
  head
    title 
      = it('landing.main_title')
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    meta content="width=device-width, initial-scale=1" name="viewport" /
    meta name="blitz" content="mu-1aa710fe-9073f953-0f079b1a-b934ad37"
  body
    = render partial: "elements/navbar"
    = bootstrap_flash
    
    = yield
    
    = render partial: "elements/footer"
    = render partial: "elements/cookies"
    = render partial: "layouts/ga" if Rails.env.production?
    - if Rails.env.development?
      .container
        = debug(params) if Rails.env.development?
        = Time.zone.now.to_s if Rails.env.development?

